$font-family: "Poppins", sans-serif;
$text-color: #5d677e;
$link-color: #635f85;
$card-color: #7f8ea1;
$blog-color: #6d7f94;
$footer-text: #afaccd;
$title-color: #051441;
$watch-color: #101d48;
$footer-background: #052347;
$primary-color: #ff7d00;
$white-color: #ffffff;
$brand-color: #f4f7fd;
$border-color: #e7e7e7;
$feature-color: #e2e7fb;
$footer-title: #d9e1f0;
