.blog
    .blog-header
        h3.global-title.global-title--normal.blog-title Our Regular Updated Blog Posts
        p.global-text tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque. 
    .blog-wrapper 
        a.blog-card.blog-active(href="#!")
            .blog-img 
                img(src="./img/seo1.png")
            .blog-content 
                p.blog-content--title SEO tips and tricks for new
                p.blog-content--text Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* 
        a.blog-card(href="#!")
            .blog-img 
                img(src="./img/seo2.png")
            .blog-content 
                p.blog-content--title A Guide to Google SEO
                p.blog-content--text Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* 
        a.blog-card(href="#!")
            .blog-img 
                img(src="./img/seo3.png")
            .blog-content 
                p.blog-content--title Best Practices SEO Content
                p.blog-content--text Curapitur eleifenc erat id ullarncorper porta, eras turpis tun pus just!), a porititar ju-to ode id oros. Proin lloborti* 

