.brand
    a(href="#!")
        img(src="./img/google.png")
    a(href="#!")
        img(src="./img/slack.png")
    a(href="#!")
        img(src="./img/agworld.png")
    a(href="#!")
        img(src="./img/riotinto.png")
    a(href="#!")
        img(src="./img/heroku.png")