.estmonial
    .estmonial-allcard
        img(src="./img/allcard.png")
    .estmonial-text
        p.global-caption TESTMONIALS
        h3.global-title.global-title--normal.estmonial-title Client's Fedback
        p.global-text Why I say okl chap that is. sprffing aff his rut car blimey valmor gooxo blaka krcus up bobby shed a-50 William cock Richard. Bloke fanny around cheseci.
        .estmonial-feedback
            img(src="./img/check.png")
            span.estmonial-amount 450 +
            span Client's Feedback
        a.button.button-primary.feature-button Get In Touch