footer.footer 
    .footer-content
        .footer-company
            a.footer-company--logo(href="#!")
                img(src="./img/logo-footer.png")
            .footer-company--desc Nulla non otllo venicula, ultricles lorem a, allquarn nes!. Etlam et lorem lobortls, cony allis nunc. 
            .footer-link
                a.footer-link--logo(href="#!")
                    img(src="./img/fb.png")
                a.footer-link--logo(href="#!")
                    img(src="./img/tw.png")
                a.footer-link--logo(href="#!")
                    img(src="./img/int.png")
        .footer-menu
            .footer-wrapper 
                .footer-title Services
                ul.footer-list
                    li.footer-item
                        a.footer-item--link(href="#!") Email Marketing Social
                    li.footer-item
                        a.footer-item--link(href="#!") Media Marketing Search
                    li.footer-item
                        a.footer-item--link(href="#!") Engine Optimization
                    li.footer-item
                        a.footer-item--link(href="#!") Prnelnct Devnionmnni
                    li.footer-item
                        a.footer-item--link(href="#!") Web Development
            .footer-wrapper 
                .footer-title Support
                ul.footer-list
                    li.footer-item
                        a.footer-item--link(href="#!") Sizicik. Community 
                    li.footer-item
                        a.footer-item--link(href="#!") Support Documents 
                    li.footer-item
                        a.footer-item--link(href="#!") Help:le-Lk API Documents 
                    li.footer-item
                        a.footer-item--link(href="#!") 5nvin,es Witus 
                    li.footer-item
                        a.footer-item--link(href="#!") Email Contort 
            .footer-wrapper 
                .footer-title Contact Us
                ul.footer-list
                    li.footer-item
                        a.footer-item--link(href="#!") suppariaringrozom
                    li.footer-item
                        a.footer-item--link(href="#!") (41) 84?-5E2-451 
                    li.footer-item
                        a.footer-item--link(href="#!") North Cry, 547 Link Road
    .footer-copyright
        p All Right Reserved by Us! &copy; Copyright 2021 
