header.header
    .navigation
        img(srcset="./img/logo.png" class="header-logo")
        include ./menu
        .header-auth
            a.button.button-secondary Login
            a.button.button-primary Signup
    .header-main
        .header-content
            h3.global-caption AWARD WINNING COMPANY
            h1.global-title.global-title--huge.header-title We Are The Best Digital Markeing
            p.global-text You need to get positive results when you spend hard earned revenue and time on any marketing effort. Great returns on marketing and promotions. 
            .header-actions
                a.button.button-primary.header-get_started(href="#!") Get Started
                a.header-watch(href="#!")
                    .watch-icon
                        img(src="./img/watch.png")
                    span Watch Video
        .header-card
            img.header-card--img(src="./img/header-card.png")