.newsletter
    .newsletter-content
        h2.global-title.global-title--huge.newsletter-title Sign up to Our Newsletter
        p.global-text You need to get positive results when you spend hard earned revenue and time.
    form.newsletter-email
        input.newsletter-input(type="email" name="email" placeholder="Email..." required)
        button.button.button-primary.newsletter-button Subscribe
        