.service 
    .service-title
        p.global-caption WHAT WE DO
        h2.global-title.global-title--normal.service-title--header Grow Your Business With Ringo
        p.global-text tempus, lectus risus In' perdiel tellus, sed faucibus ipsum ipsurn nun neque.
    .service-section
        a.service-card(href="#!")
            .service-icon
                img(src="./img/search.png")
            h3.global-title.global-title--small Search Engine
            p.service-text Twit are excet  Frond, rnatie boy grub it's tell gone to pot MI Mrs nut butts horse play blow
        a.service-card(href="#!")
            .service-icon
                img(src="./img/email.png")
            h3.global-title.global-title--small Email Marketing
            p.service-text Twit are excet  Frond, rnatie boy grub it's tell gone to pot MI Mrs nut butts horse play blow
        a.service-card(href="#!")
            .service-icon
                img(src="./img/media.png")
            h3.global-title.global-title--small Media Marketing
            p.service-text Twit are excet  Frond, rnatie boy grub it's tell gone to pot MI Mrs nut butts horse play blow 

